<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Todo </title>
    <link href="main.css" rel="stylesheet" />
    <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link href="/my-components/my-header.html" rel="import" />
    <link href="/my-components/my-form.html" rel="import" />
</head>
<body>
    <my-header title="Todos"></my-header>
    <my-form text="Add a todo:"></my-form>

    <!--
    <div class="box">
        <form action="/post" method="post">
            <input type="text" name="value" value="" />
            <input type="submit" name="submit" value="Submit" />
        </form>
    </div>
    <ul>
        {{#each todos}}
        <li>{{text}}</li>
        {{/each}}
    </ul>
        -->
</body>
</html>